body {
    background: #555555 url(../assets/bg-tile.jpg);
}

tr, table {
    width: 100%;
}

td {
    position: relative;
    width: 3.125%;
}

td > button {
    width: 100%;
    padding-top: 100%;
}
