<div class="container">
    <div class="row justify-content-md-center">
        <span class="col col-md-5"></span>
        <button class="col col-md-2" ng-click="vm.update()">Send Update</button>
        <span class="col col-md-5"></span>
    </div>
    <div class="row justify-content-md-center">
        <span class="col col-md-4"></span>
        <button class="col col-md-2" ng-click="vm.fillBoard(false)">Empty Board</button>
        <button class="col col-md-2" ng-click="vm.fillBoard(true)">Fill Board</button>
        <span class="col col-md-4"></span>
    </div>
    <div class="row justify-content-md-center">
        <span class="col col-md-3"></span>
        <button class="col col-md-2" ng-click="vm.drawCircle(false, false)">Large Conventional</button>
        <button class="col col-md-2" ng-click="vm.drawCircle(true, false)">Small Conventional</button>
        <button class="col col-md-2" ng-click="vm.drawCircle(false, true)">Annular</button>
        <span class="col col-md-3"></span>
    </div>

    <table class="row">
        <tr ng-repeat="row in vm.getNumber(vm.rows) track by $index">
            <td ng-repeat="column in vm.getNumber(vm.columns) track by $index">
                <button ng-style="{'background-color': vm.getButtonColor(row, column)}" ng-click="vm.toggle(row, column)"></button>
            </td>
        </tr>
    </table>

</div>

